@charset "utf-8";

    body{
        
        font-family: "Muli", sans-serif;
        margin: auto;
        text-align: center;
        
    
        }

     

 /*   #bg-image { 
        width:100%;
        height:450px;
        background-attachment: fixed;
        background-image: url(../images/bphoto.jpeg);
        background-repeat: no-repeat;
        margin: 0 auto;
        
    }*/

    .box1 { border-width: 2px;
        border-style: solid;
        width: 350px;
        height: 300px;
        margin-top: 10000px;
        display: inline-block;
        background-image: url(../images/box1.jpeg);
        background-repeat: no-repeat;

    }
    .box2 { border-width: 2px;
        border-style: solid;
        width: 350px;
        height: 300px;
        margin-left: 50px;
        background-image: url(../images/box2.jpg);
        display: inline-block;
    }
    .box3 { border-width: 2px;
        border-style: solid;
        width: 350px;
        height: 300px;
        margin-left: 50px;
        background-image: url(../images/box3.jpeg);
        display: inline-block;
    }

    

     /*#bg-image*/
      nav ul li{
        list-style-type: none;
        text-shadow:2px 2px 5px white, 10px 10px 15px grey;
        -moz-text-shadow:2px 2px 5px white, 10px 10px 15px grey;
        -ms-text-shadow:2px 2px 5px white, 10px 10px 15px grey;
        -webkit-text-shadow:2px 2px 5px white, 10px 10px 15px grey;
        -o-text-shadow:2px 2px 5px white, 10px 10px 15px grey;

        box-shadow:2px 2px 5px white, 10px 10px 15px grey;
        -moz-box-shadow:2px 2px 5px white, 10px 10px 15px grey;
        -ms-box-shadow:2px 2px 5px white, 10px 10px 15px grey;
        -webkit-box-shadow:2px 2px 5px white, 10px 10px 15px grey;
        -o-box-shadow:2px 2px 5px white, 10px 10px 15px grey;
     }
     /*#bg-image */
     nav {
        width: 800px;
        margin-top: 50px;
        margin-left: 50px;


     }

     /*#bg-image */
     nav ul li a {
        font-family: "Myriad Pro","DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
        font-size: 18px;
        color:#747272;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        padding: 14px 16px;
        display: block;
     }

     /*#bg-image */
     nav ul li {
        float:left;
        background-color: #F8BDB0;
       
/*   -----  rounded corners ----- */
     /* -moz-border-radius:15px;
        -ms-border-radius:15px;
        -webkit-border-radius:15px;
        -o-border-radius:15px;
        border-radius:15px;*/

     }



     #bg-image nav ul li a:hover{
        color: #fff;
   
     }

     

    p{
            font-size: 18px;
            line-height: 24px;
            margin-top: 4px;
    }

       .navbar-fixed-top {
            max-height: 100px;
            padding-left:0;
            padding-right:0;
            position:fixed;
            right:0;
            left:0;
            z-index:1030
        }